<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>收件人管理</title>
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>
<h3 th:text="${recipientModel.title}">waylau</h3>
<div>
    <P><strong>ID:</strong><span th:text="${recipientModel.recipient.id}"></span></P>
    <P><strong>Email:</strong><span th:text="${recipientModel.recipient.recipient}"></span></P>
</div>
<div>
    <a th:href="@{'/recipients/delete/'+${recipientModel.recipient.id}}">删除</a>
    <a th:href="@{'/recipients/modify/'+${recipientModel.recipient.id}}">修改</a>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>